@model SepetModel

<h1 class="h3">Alisveris Sepeti</h1>
<hr>
@if(Model.SepetItems.Count==0){
    <div class ="row">
    <div class="cold-12">
        <div class="alert alert-warning">
            Sepetinizde urun yok.
        </div>
    </div>
</div>
}
else{
<div class="row">
    <div class="col-md-8">
        <div class="text-left">
            <h4>Sepet Detayi</h4>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Urun Ismi</th>
                    <th>Fiyat</th>
                    <th>Miktar</th>
                    <th>Toplam</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.SepetItems)
                {
                    <tr>
                        <td>
                            <img src="~/img/@item.ImageUrl" width="80" alt="">
                        </td>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td>@item.Quantity</td>
                        <td>@(item.Quantity*item.Price)</td>
                        <td>
                            <form asp-controller="Cart" asp-action="DeleteFromCart" method="post">
                                <input type="hidden" name="productId" value="@item.ProductId">
                                <button type="submit" class="btn btn-danger btn-sm">
                                <i class="fas fa-times fa-fw"></i>
                                </button>
                            </form>                           
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <div class="text-left">
            <h4>Sepet Ozeti</h4>
            <hr>
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <th>Sepet Toplami</th>
                    <th style="margin-left: 10px;">@Model.TotalPrice().ToString() <i class="fas fa-lira-sign"></i></th>
                </tr>
                <tr>
                    <th>Kargo</th>
                    <th>Ucretsiz</th>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <a href="/" class="btn btn-primary btn-sm">
            <i class = "fa fa-arrow-circle-left fa-fw"></i>Alisverise devam et
            </a>
            <a href="/checkout" class="btn btn-primary btn-sm">
            <i class = "fa fa-arrow-circle-right fa-fw"></i>Alisverisi tamamla
            </a>
        </div>
    </div>
</div>
}



